div.center {
    margin-left:39%;
    margin-right:10%;
    margin-top: 9%;
  }
  div.divLast
  {

     padding-bottom: 0px;
     align-items: flex-end;
  }
div.centertogoogle{
  margin-left: 42%;
  margin_right:10%;
}
div.divLastLeft{
  position: fixed;
     bottom: 0;
     left: 0;
}

div.textboxs{
    margin-left: 35%;

   background-color: white;

}
div.divLastRight{
  position: fixed;
     bottom: 0;
     right: 0;
}
a:link {
    color: #7E7E7E;
    font: 15px arial,sans-serif;

    text-decoration: none;
}

/* visited link */
a:visited {
    color: #7E7E7E;
    font: 15px arial,sans-serif;

}
a.language{
  color: blue;
  font: 15px arial,sans-serif;

}
/* mouse over link */
a:hover {
  font: 15px arial,sans-serif;

  text-decoration: underline;
    color: #7E7E7E;
}

button.buttonSignIn{
  background-color: #5b5bea;
  border: none;
  color:white;
  border-radius: 4px;
  padding 15px,10px;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
}

button.searchButtons{
  background-color: white;
  border: none;
  font-size: 15px;
  text-align: center;
  border-radius: 1px;
  color: #7E7E7E;
}

p.belowSearchButton{
  font-size: 16px;
  margin-left: 39%;
  margin_right:10%;
  position: fixed;

}
.button{
  border-color: white;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  margin: 4px 2px;
  border: 1px solid #ffffff;

}
.searchButtons:hover{

  border: 1px solid #7E7E7E;
  text-decoration-color:  black;
}
table.rightTop{
  position: fixed;
     top: 0;
     right: 0;
}
.searchBox{
  box-shadow: 1px 1px 0.2px #888888;
            width:580px;
            height:38px;
            border:1px solid white;
            font-size:20px;
            font: 20px arial,sans-serif;
            font-size:20px;
            ;
}
.searchBox:focus{
  outline:none;

}
